@font-face {
    font-family: 'TitlingGothicFB Cond Bold';
    src: url("../webfonts/TitlingGothicFB Cond Bold.otf");
}

@font-face {
    font-family: 'Verveine Regular';
    src: url("../webfonts/VerveineRegular.TTF");
}

@font-face {
    font-family: 'Verveine';
    src: url("../webfonts/Verveine.ttf")
}

@font-face {
    font-family: 'Myriadpro-bold';
    src: url("../webfonts/MYRIADPRO-BOLD.OTF");
}

@font-face {
    font-family: 'Myriadpro-regular';
    src: url("../webfonts/MYRIADPRO-REGULAR.OTF");
}

@font-face {
    font-family: 'Myriadpro-semibold';
    src: url("../webfonts/MYRIADPRO-SEMIBOLD.OTF");
}

@font-face {
    src: url("../webfonts/PFSquareSansPro-Bold.ttf");
    font-family: PF-Square-Sans-Pro-Bold-font;
}

@font-face {
    src: url("../webfonts/Soleto-Bold.ttf");
    font-family: "Soleto bold";
}

@font-face {
    src: url("../webfonts/Soleto-Regular.ttf");
    font-family: "Soleto regular";
}