.footer {
    background-color: white;
    padding-top: 65px;
}

.footer-subtitle {
    font-family: 'TitlingGothicFB Cond Bold', sans-serif;
    font-size: 64px;
    margin-top: 66px;
    margin-bottom: 58px;
}

.footer .wrapper .paragraph {
    text-align: center;
    font-size: 30px;
}

.footer-icons-wrapper {
    max-width: 318px;
    margin: calc(10% - 4px) auto;
}

.footer-icons-wrapper .icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    list-style-type: none;
}