html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Soleto regular', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
}

.intro-subtitle, .subtitle, .tours-subtitle, .footer-subtitle {
    font-family: 'TitlingGothicFB Cond Bold', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.header-link:hover, .header-link:focus, .header-link:active, .footer-icons-wrapper .icons .item:hover, .footer-icons-wrapper .icons .item:focus, .footer-icons-wrapper .icons .item:active {
    opacity: .50;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.store-swiper-active-item:before, .video-swiper-active-item:before {
    content: '';
    display: block;
    border-radius: 50%;
    background: white;
    width: 12px;
    height: 12px;
    align-self: center;
}

.store-swiper-active-item, .video-swiper-active-item {
    display: flex;
    justify-content: center;
}

.store-swiper-wrapper .swiper-track .swiper-item, .store-swiper-active-item, .video-swiper-wrapper .container .swiper-track .swiper-item, .video-swiper-active-item {
    height: 22px;
    width: 22px;
    border-radius: 50%;
}