.header {
    max-width: 1440px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.header-active {
    background-color: rgb(255, 255, 255);
    opacity: 90%;
}

.header .wrapper {
    padding-top: 86px;
    padding-left: 78px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.1s linear;
}

.header-nav ul li {
    list-style-type: none;
    float: left;
    margin: 0 8px;
}

.header-nav .list {
    display: flex;
    flex-wrap: wrap;
}

.header-nav .list .item {
    margin: 10px;
    font-size: 23px;
    font-family: "Soleto bold";
    font-weight: bold;
    line-height: 24px;
}

.header-nav .list .item:last-child {
    margin-right: 0;
}
