.background {
    max-width: 1440px;
    width: 100vw;
    background: url(../img/jpg/background.jpg) no-repeat center;
    background-size: cover;
}

.parent{
    position: relative;
}

.play-button{
    position: absolute;
    top: 32.5%;
    left: 41.5%;
}
.intro-about-info{
    height: 667px;
    width: 1440px;
    background-image: url("../img/png/Quotes.png");
}
