.tours-section .wrapper {
    margin-bottom: calc(16% + 2px);
}

.tours-wrapper {
    max-width: 1146px;
    margin: 0 auto;
}

.tours-subtitle-alt-font, .tours-subtitle {
    text-align: center;
    font-size: 64px;
    margin-top: 60px;
    margin-bottom: 54px;
}

.tours-subtitle {
    margin-left: calc(-5% - 1px);
    color: rgb(34,34,33);
}

.tours-subtitle-alt-font {
    margin-left: 2.8%;
    font-style: italic;
    font-weight: bold;
    font-size: 84px;
    font-family: "Verveine Regular", sans-serif;
    color: #1e5a7c;
}

.tours-wrapper .paragraph {
    text-align: center;
    font-size: 30px;
    margin-bottom: calc(15% - 1px);
    margin-left: calc(-5% + 3px);
}

.tours-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 198px;
    row-gap: 77px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tours-cards .card {
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.5);
    background-color: #ffffff;
}

.tours-cards .content:before {
    height: 315px;
    width: 100%;
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tours-card-lake-in-the-mountains::before {
    background-image: url("../img/jpg/lake-in-the-mountains.jpg");
}

.tours-card-lake-in-the-forest::before {
    background-image: url("../img/jpg/lake-in-the-forest.jpg");
}

.tours-card-snowy-mountains::before {
    background-image: url("../img/jpg/snowy-mountains.jpg");
}

.tours-card-group-hiking::before {
    background-image: url("../img/jpg/group-hiking.jpg");
}

.tours-card-wrapper {
    height: 266px;
    text-align: center;
}

.tours-card-wrapper .title {
    text-align: center;
    word-spacing: 2px;
    font-family: "Myriadpro-bold", sans-serif;
    font-size: 28px;
    margin-top: 48px;
    margin-bottom: 45px;
}

.tours-card-wrapper .description {
    word-spacing: 0.1px;
    margin: 0 auto;
    font-family: "Soleto regular", sans-serif;
    font-size: 23px;
    text-align: center;
}

#Group-hiking-title{
    word-spacing: 0;
    margin-left: 38px;
    margin-bottom: 78px;
}

#Group-hiking-text{;
    word-spacing: -1px;
    padding-left: 3px;
}

#Snowy-mountains-title{
    padding-top: 1px;
    padding-right: 3px;
    word-spacing: -1px;
}

#Snowy-mountains-text{
    padding-top: 23px;
    padding-right: 4px;
    word-spacing: -2px;
}

#Lake-in-the-mountains-title{
    margin-left: -14px;
}

#Lake-in-the-mountains-text{
    padding-left: 3px;
    margin-left: -2px;
    padding-top: 3px;
    word-spacing: -1px;
}

#Lake-in-the-forest-title{
    padding-bottom: 0;
}

#Lake-in-the-forest-text{
    word-spacing: -2px;
    margin-top:-3px;
}