.store-container {
    display: flex;
    margin-bottom: calc(15% + 10px);
}

.store-container .wrapper {
    height: 1185px;
    max-width: 175px;
    margin: 0;
    background-color: white;
    display: flex;
    padding-top: calc(30% - 5px);
}

.store-swiper-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 3px;
}

.store-swiper-wrapper .swiper-button-prev, .store-swiper-wrapper .swiper-button-next {
    text-align: center;
    font-size: 50px;
    color: black;
}

.store-swiper-wrapper .swiper-button-prev {
    margin-bottom: 1px;
}

.store-swiper-wrapper .swiper-track {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store-swiper-wrapper .swiper-track .swiper-item, .store-swiper-active-item {
    background-color: black;
    margin-bottom: 14px;
}

.store-swiper-wrapper .swiper-track .swiper-item:last-child {
    margin-bottom: 5px;
}

.store-subtitle-container {
    max-height: 1185px;
    width: calc(30.5% - 1px);
    position: relative;
    padding-left: calc(5% + 6px);
}

.store-subtitle-container .subtitle {
    height: 100%;
    font-size: 250px;
    font-weight: bold;
    writing-mode: vertical-lr;
    rotate: -180deg;
    color: rgb(34,34,33);
}

.store-container .cards-container {
    max-height: 1185px;
    padding-top: 68px;
}

.store-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 148px;
}

.store-cards .card {
    position: relative;
    text-align: center;
}

.store-cards .card:hover .pic {
    transform: scale(1.05);
}

.store-cards .card .pic {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    transition: 0.15s all;
}

.store-cards .card h3 {
    position: absolute;
}

.store-card-promotion-in-the-tent h3 {
    font-family: "Soleto bold", sans-serif;
    font-size: 26.5px;
    left: calc(32% + 1px);
    top: calc(17% - 2px);
}

.store-card-starter-package h3 {
    font-family: "Myriadpro-bold", sans-serif;
    font-size: 28px;
    left: 32%;
    bottom: calc(7% + 2px);
    color: white;
}


.store-cards .card p {
    font-family: "Verveine", sans-serif;
    font-style: italic;
    position: absolute;
}

.store-card-promotion-in-the-tent p {
    font-size: 83px;
    right: 9%;
    top: calc(11% - 4px);
}

.store-card-starter-package p {
    font-size: 70px;
    right: calc(25% + 7px);
    bottom: calc(1% + 3px);
    color: white;
}
.store-card-starter-package h3{
    word-spacing: 4px;
}