/*general styles start*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
}
/*general styles end*/


/*header styles start*/
.wrapper {
    width: 1440px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.header-item {
    margin-right: 80px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-link {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.header-link:hover, .header-link:focus, .header-link:active {
    opacity: .50;
}
/*header styles end*/


/*main styles start*/
.background {
    min-height: 100vh;
    width: 1440px;
    background: url(../img/jpg/background.jpg) no-repeat center;
    background-size: cover;
}

    /*intro styles start*/

.intro-subtitle {
    text-transform: uppercase;
}

.intro-subtitle_alt_font {

}

    /*intro styles end*/

.intro-about-info {
    width: 100vw;
    height: 30vh;
    background-color: #fff;
}

    /*tours styles start*/

.tours_wrapper {
    max-width: 50vw;
    height: 500px;
    margin: 0 auto;
}

.tours-subtitle {
    text-transform: uppercase;
}

.tours-subtitle-second-font {

}

.tours-cards{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 40% 40%;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.tours-card {
    color: black;
    box-shadow: 0px 2px 20px rgba(21,24,36, 0.16);
}

    /*tours styles end*/

    /*store styles start*/

.store-subtitle {
    text-transform: uppercase;
}

    /*store styles end*/

/*main styles end*/


/*footer styles start*/

/*footer styles end*/