/*general styles start*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Soleto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
}

.intro-subtitle, .store-subtitle, .tours-subtitle, .footer-subtitle {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

/*general styles end*/


/*header styles start*/
.header {
    max-width: 1440px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.header_active {
    background-color: rgb(255, 255, 255);
    opacity: 90%;
}

.header-wrapper {
    padding-top: 86px;
    padding-left: 78px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.1s linear;
    border-color: black;
}

.header-logo {
    margin-right: 80px;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.header-item {
    margin: 10px;
    font-size: 22px;
    line-height: 24px;

}

.header-item:last-child {
    margin-right: 0;
}

.header-link {
    color: #000000;
    text-decoration: none;
}

.header-link:hover, .header-link:focus, .header-link:active {
    opacity: .50;
}

/*header styles end*/


/*main styles start*/

.background {
    min-height: 100vh;
    max-width: 1440px;
    width: 100vw;
    background: url(../img/jpg/background.jpg) no-repeat center;
    background-size: cover;
}

    /*intro section styles start*/

.intro-background {
    height: 620px;
    max-width: 1440px;
    padding: 300px;
    width: 100vw;
    background: url(../img/png/bg-sitting-woman.png) no-repeat center;
    background-size: cover;
}

.intro-swiper-wrapper {
    width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.intro-swiper-button-prev, .intro-swiper-button-next {
    text-align: center;
    font-size: 40px;
}

.intro-swiper-container {
    height: 100%;
    width: 240px;
    overflow: hidden;
}

.intro-swiper-track {
    height: 100%;
    display: flex;
    text-align: center;
    transition: 0.15s;
}

.intro-swiper-item {
    min-width: 80px;
    height: 50px;
    font-size: 33px;
    font-weight: bold;
}

.intro-subtitle {
    padding: 100px;
    font-size: 70px;
    font-family: 'TitlingGothicFB Cond Bold', sans-serif;
    font-weight: bolder;
}

.intro-subtitle_alt_font {

}



.videos {
    max-width: 1440px;
    height: 600px;
    display: flex;
}

.videos-container {
    width: 58%;
}

.video-wrapper {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    border: 20px solid white;
}

.video-description {
    font-size: 25px;
    line-height: 30px;
}

.videos-navigation-container {
    width: 42%;
    height: 60%;
}

.videos-navigation-container-title {
    text-align: center;
    font-size: 27px;
    margin: 50px 30px;
}

.video-swiper-wrapper {
    width: 220px;
    margin: auto;
    display: flex;
    align-items: flex-start;
}

.video-swiper-container {
    height: 100%;
    width: 160px;
    justify-content: space-between;
}

.video-swiper-track {
    height: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.15s;
}

.video-swiper-button-prev, .video-swiper-button-next {
    text-align: center;
    font-size: 50px;
    color: black;
}

.video-swiper-button-prev {
    margin-right: 15px;
}

.video-swiper-button-next {
    margin-left: 13px;
}

.video-swiper-item {
    height: 21px;
    width: 21px;
    background-color: #59131f;
    border-radius: 50%;
}



.intro-about-info {
    width: 100%;
    height: 30vh;
    background-color: #fff;
    text-align: center;
    padding: 80px;
}

.intro-about-info-title {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 65px;
    padding: 30px;
}

.intro-about-info-content {
    font-size: 30px;
}

    /*intro section styles end*/

    /*tours section styles start*/

.tours-section {
    padding: 30px 0;
}

.tours-wrapper {
    max-width: 880px;
    margin: 0 auto;
    padding: 0 15px;
}

.tours-subtitle-second-font {

}

.tours-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 200px;
    row-gap: 50px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tours-card {
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.5);
    background-color: #ffffff;
}

.tours-card-content::before {
    content: "";
    display: block;
    width: 100%;
    height: 315px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tours-card-lake-in-the-mountains::before {
    background-image: url("../img/jpg/lake-in-the-mountains.jpg");
}

.tours-card-lake-in-the-forest::before {
    background-image: url("../img/jpg/lake-in-the-forest.jpg");
}

.tours-card-snowy-mountains::before {
    background-image: url("../img/jpg/snowy-mountains.jpg");
}

.tours-card-group-hiking::before {
    background-image: url("../img/jpg/group-hiking.jpg");
}

.tours-card-content-wrap {
    text-align: center;
}

.tours-card-title {
    padding: 30px;
    font-weight: bold;
}

.tours-card-description {
    padding-bottom: 20px;
}

    /*tours section styles end*/

    /*store section styles start*/

.store-wrapper {
    max-width: 1440px;
    max-height: 1300px;
    display: flex;
}

.store-nav-container {
    width: 15%;
    background-color: white;
}

.store-swiper-button-prev, .store-swiper-button-next {
    text-align: center;
    font-size: 50px;
    color: #59131f;
}

.store-swiper-button-prev {
    margin-bottom: 15px;
}

.store-swiper-button-next {
    margin-top: 13px;
}

.store-swiper-item {
    height: 21px;
    width: 21px;
    background-color: black;
    border-radius: 50%;
}

.store-subtitle-container {
    width: 25%;
    height: 100%;
    text-align: center;
}

.store-subtitle {
    font-size: 200px;
    font-weight: bold;
    rotate: -90deg;
}

.store-cards-container {
    width: 60%;
}

.store-cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 170px;
}

.store-card {
    position: relative;
    overflow: hidden;
}

.store-card:hover .store-card-pic {
    transform: scale(1.05);
}

.store-card-pic {
    object-fit: cover;
    width: 100%;
    transition: 0.15s all;
}

.store-card-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    position: absolute;
}

.store-card-price {

}

.store-card-promotion-in-the-tent {
    width: 719px;
    height: 495px;
}

.store-card-starter-package {
    width: 719px;
    height: 424px;
}

.store-card-title-promotion {
    color: black;
    position: absolute;
    right: 25px;
    top: 25px;
}

.store-card-price-promotion {
    color: black;
    position: absolute;
    right: 25px;
    top: 25px;
}

.store-card-title-package {
    color: white;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.store-cards-price-package {
    color: white;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.store-card-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

    /*store section styles end*/

/*main styles end*/


/*footer styles start*/

.footer {
    max-width: 1440px;
    height: 600px;
    background-color: white;
}

.footer-icons-wrapper {
    width: 400px;
    height: 50px;
    margin: 20px auto;
}

.footer-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    list-style-type: none;
}

/*footer styles end*/