/*general styles start*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
}

.intro-subtitle, .store-subtitle, .tours-subtitle, .footer-subtitle {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

/*general styles end*/


/*header styles start*/
.header {
    max-width: 1440px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.header_active {
    background-color: #ce849a;
    opacity: 80%;
}

.header-wrapper {
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    transition: 0.2s linear;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
}

.header-item {
    margin: 10px;
}

.header-item:last-child {
    margin-right: 0;
}

.header-link {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.header-link:hover, .header-link:focus, .header-link:active {
    opacity: .50;
}

/*header styles end*/


/*main styles start*/

.background {
    min-height: 100vh;
    max-width: 1440px;
    width: 100vw;
    background: url(../img/jpg/background.jpg) no-repeat center;
    background-size: cover;
}

/*intro section styles start*/

.intro-background {
    height: 620px;
    max-width: 1440px;
    width: 100vw;
    background: url(../img/png/bg-sitting-woman.png) no-repeat center;
    background-size: cover;
}

.intro-subtitle_alt_font {

}

.videos {
    max-width: 1440px;
    height: 600px;
}

.video-wrapper {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    border: 20px solid white;
}

.video-element {
    width: 100%;
    height: 100%;
}

/*intro section styles end*/

.intro-about-info {
    width: 100%;
    height: 30vh;
    background-color: #fff;
    text-align: center;
    padding: 50px;
}

.intro-about-info-title {
    text-transform: uppercase;
    font-weight: bolder;
}

/*tours section styles start*/

.tours-section {
    padding: 30px 0;
}

.tours-wrapper {
    max-width: 880px;
    margin: 0 auto;
    padding: 0 15px;
}

.tours-subtitle-second-font {

}

.tours-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 200px;
    row-gap: 50px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tours-card {
    box-shadow: 0 2px 20px rgba(21, 24, 36, 0.5);
    background-color: #ffffff;
}

.tours-card-content::before {
    content: "";
    display: block;
    width: 100%;
    height: 315px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tours-card-lake-in-the-mountains::before {
    background-image: url("../img/jpg/lake-in-the-mountains.jpg");
}

.tours-card-lake-in-the-forest::before {
    background-image: url("../img/jpg/lake-in-the-forest.jpg");
}

.tours-card-snowy-mountains::before {
    background-image: url("../img/jpg/snowy-mountains.jpg");
}

.tours-card-group-hiking::before {
    background-image: url("../img/jpg/group-hiking.jpg");
}

.tours-card-content-wrap {
    text-align: center;
}

.tours-card-title {
    padding: 30px;
    font-weight: bold;
}

.tours-card-description {
    padding-bottom: 20px;
}

/*tours section styles end*/

/*store section styles start*/

.store-cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
}

.store-card {
    position: relative;
    overflow: hidden;
}

.store-card:hover .store-card-pic {
    transform: scale(1.05);
}

.store-card-pic {
    object-fit: cover;
    width: 100%;
    transition: 0.15s all;
}

.store-card-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    position: absolute;
}

.store-card-price {

}

.store-card-promotion-in-the-tent {
    width: 719px;
    height: 495px;
}

.store-card-starter-package {
    width: 719px;
    height: 424px;
}

.store-card-title-promotion {
    color: black;
    position: absolute;
    right: 25px;
    top: 25px;
}

.store-card-price-promotion {
    color: black;
    position: absolute;
    right: 25px;
    top: 25px;
}

.store-card-title-package {
    color: white;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.store-cards-price-package {
    color: white;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.store-card-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*store section styles end*/

/*main styles end*/


/*footer styles start*/

.footer {
    max-width: 1440px;
    height: 600px;
    background-color: white;
}

/*footer styles end*/